configuration {
    font: "Source Sans Pro 12";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
}

//@theme "~/.config/rofi/themes/launcher.rasi"

listview {
    lines: 12;
}
@theme "/usr/local/share/rofi/themes/gruvbox-light-soft.rasi"
